sanic
{% if cookiecutter.enable_swagger == 'y' -%}
sanic-openapi
{%- endif %}
json-logging-py
{% if cookiecutter.enable_orm == 'true' -%}
gino
{%- endif -%}
{% if cookiecutter.enable_rate_limiter == 'true' -%}
sanic_limiter
{%- endif -%}
